html {
  height: 100%;
}

#viewBody {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1fr;
  grid-template-areas: 
  "c c c"
  "a a a"
  "b b b";
  
}
/* LOGIN Page */
#loginSection {
  grid-area: a;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

#loginForm {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  width: 60%;
  height: 80%;
}

#errors {
  grid-area: c;
  justify-self: center;
}
/* REGISTER Page */
#registerForm {
  grid-area: a;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
/* DASHBOARD */
#dashboard {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: 1fr 4fr 4fr/ 2fr 1fr 1fr;
  grid-template-areas: 
  "a a a"
  "b c c"
  "b c c";
  background-color: white;
}

#dashboard header {
  grid-area: a;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 28px;
}

#title{
  display: block;
  margin-top: -10px;
  width: 33vw;
}

#sideBarIconContainer{
  display: flex;
  justify-content: flex-end;
  width: 33vw;
}

#dashboard header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33vw;
  
}

#dashboard header nav section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


#filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.3s;
  margin: 10px 0px;
}

#visualData {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#charts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.fa-solid.fa-bars {
  display: flex;
  align-items: center;
}

.fa-solid.fa-bars::before {
  font-size: 25px;
  margin-right: 20px;
}

.fa-solid.fa-plus::before {
  font-size: 25px;
  margin-right: 15px;
}

.fa-solid.fa-filter {
  display: flex;
  font-size: 22px;
  margin-right: 15px;
  align-items: center;
}

#autocomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#autocompleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  border-radius: 10px;
  transition: 0.3s;
  padding: 3px 8px;
  z-index: 2;
}

#autocompleteForm {
  display: flex;
  justify-content: center;
}

#searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: 6px 3px;
  padding: 0px 5px;
  transition: 0.3s;
  width: 100%;
}


#manualInputContainer {
  display: flex;
  margin: 6px 3px;
  box-sizing: border-box;
  overflow: hidden;
  border: none;
  transition: 0.3s;
}

.batchInputs {
  width: 0px;
  padding: 0px;
  border: 0px;
  text-align: center;
  transition: 0.3s;
}

#currentBatchContainer {
  background:rgb(255, 255, 255);
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#currentBatchContainer ul {
  font-size: 12px;
  padding-left: 0px;
  list-style-type:georgian;
}

#autocompleteSearchBar {
  width: 60%;
  padding: 0px;
  border: none;
  transition: 0.3s;
}

#autocompleteWeightBar {
  width: 20%;
  padding: 0px;
  border: none;
  transition: 0.3s;
}

#autocompleteSearchBar:focus {
  width: 250px;
}

#autocompleteCartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  overflow: hidden;
  transition: 0.2s;
}



#loggerCategory, #loggerSubcategory {
  border-radius: 30px;
  width: 50%;
  height: 45%;
  box-sizing: border-box;
  transition: 0.3s;
}

#sidebarDim{
  display: flex;
  visibility: hidden;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: 0.3s;
}

#sidebarBackground {
  background-color: goldenrod;
  position: fixed;
  top: 0px;
  right: 0px;
}

#sidebar {
  list-style: none;
  padding: 10vh 0 10vh ;
  margin: 0px;
  height: 80vh;
  width: 0vw;
  z-index: 7;
  opacity: 1;
  transition: 0.3s;
}

#sidebar li {
  font-size: 1.2rem;
  margin: 10px 0px 10px 20px;
  transition: 0.2s;
}

#sidebarBackground .fa-solid.fa-x {
  position: absolute;
  right: 20px;
  top: 20px;
}

#dailyMenuBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  z-index: 7;
  visibility: hidden;
  transition: 0.3s;
}

#dailyMenuTable, tr, th, td {
  border: 1px solid black;
  text-align: center;
  font-weight: 600;
  height: 15px;
}

#dailyMenuTable {
  background-color: blanchedalmond;
  border: 8px ridge rgb(191, 188, 188);
  border-radius: 20px;
  width: 60%;
  padding: 5px;
  margin-top: 15px;
  margin-left: 15px;
  transition: 0.6s;
  position: relative;
  left: -120%;
  z-index: 6;
}

#dailyTableClose {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 10px;
}

#title {
  grid-area: a;
}

#stats{
  width: 100%;
  grid-area: b;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "a c"
  "b d";
  justify-self: center;
  gap: 20px;
}

#stats>section {
  height: 100%;
}

#stats>section>ul {
  list-style-type: "\1F4AA";
  font-size: 14px;
}

.overviewStats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(179, 204, 236);
  align-self: flex-start;
  font-size: 25px;
}

#personalInfo {
  grid-area: a;
}

#targets {
  grid-area: b;
}

#currentStatusCalories, #currentStatusProtein {
  display: flex;
  border: 3px solid black;
  border-radius: 10px;
  background-color: aquamarine;
  align-self: flex-start;
}

#currentStatusCalories {
  grid-area: c;
}

#currentStatusProtein {
  grid-area: d;
}

#visualData canvas {
  border: 3px solid black;
  border-radius: 10px;
}

.mainInput {
  width: 50%;
}

#registerForm fieldset {
  width: 50%;
}


#logo {
  grid-area: b;
}

#foodFormContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#foodFormContainer div {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dotted black 2px;
}

#foodFormContainer i {
  font-size: 30px;
  margin-right: 10px;
}

#foodFormContainer a {
  text-decoration: none;
}

#foodForm {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#foodForm select, #foodForm input {
  width: 250px;
  height: 25px;
  padding: 2px;
  border-width: 1px;
  border-color: black;
  box-sizing: content-box;
  margin-bottom: 5px;
}

.fa-solid.fa-pizza-slice {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#slice1 {
  transform-origin: bottom left;
  transform: translate(0%, 100%) rotate(0deg) skew(6.5deg, 6.5deg);
  
}

#slice2 {
  transform-origin: 0% 100%;
  transform: translate(0%, 100%) rotate(60deg) skew(6.5deg, 6.5deg);
  
}

#slice3 {
  transform-origin: 0% 100%;
  transform: translate(0%, 100%) rotate(120deg) skew(6.5deg, 6.5deg);
  
}

#slice4 {
  transform-origin: 0% 100%;
  transform: translate(0%, 100%) rotate(180deg) skew(6.5deg, 6.5deg);
  
}

#slice5 {
  transform-origin: 0% 100%;
  transform: translate(0%, 100%) rotate(240deg) skew(6.5deg, 6.5deg);
  
}

#slice6 {
  transform-origin: 0% 100%;
  transform: translate(0%, 100%) rotate(300deg) skew(6.5deg, 6.5deg);
}