.fa-solid.fa-pizza-slice {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#slice1 {
  transform-origin: bottom left;
  transform: translate(0%, -100%) rotate(360deg) skew(6.5deg, 6.5deg);
  
}

#slice2 {
  transform-origin: 0% 100%;
  transform: translate(0%, -100%) rotate(60deg) skew(6.5deg, 6.5deg);
  
}

#slice3 {
  transform-origin: 0% 100%;
  transform: translate(0%, -100%) rotate(120deg) skew(6.5deg, 6.5deg);
  
}

#slice4 {
  transform-origin: 0% 100%;
  transform: translate(0%, -100%) rotate(180deg) skew(6.5deg, 6.5deg);
  
}

#slice5 {
  transform-origin: 0% 100%;
  transform: translate(0%, -100%) rotate(240deg) skew(6.5deg, 6.5deg);
  
}

#slice6 {
  transform-origin: 0% 100%;
  transform: translate(0%, -100%) rotate(300deg) skew(6.5deg, 6.5deg);
}